{% extends "base.html.twig" %}

{% block title %}Album Details{% endblock %}

{% block body %}
<p>Titre de l'album: {{ album.albumTitle }}</p>
<p>Nom de l'artiste: {{ album.albumName }}</p>
<p>Catégorie de musique: {{ album.albumType }}</p>
<p>Liste des titres:</p>
<ul>
    {% for titre in album.albumListTitres %}
        <li>{{ titre }}</li>
    {% endfor %}
</ul>
{% endblock %}
