{% extends "base.html.twig" %}

{% block title %}Mes Albums likés{% endblock %}
{% block body %}

{% for album in albums %}
<div class="albums">
    <div>
       <h2>{{ album.albumName}}</h1> 
    </div>
    <div >
        <p class="card-text">{{ album.albumType }}</p>
    </div>


    {% endfor %}

    {% endblock %}