
{% extends 'base.html.twig' %}

{% block title %}Mes artistes{% endblock %}
{% block body %}

{% for artist in artists %}
<div >
    <div>
       <h2>{{ artist.artistName}}</h1> 
    </div>
    <div >
    </div>


    {% endfor %}

    {% endblock %}