{% extends 'base.html.twig' %}

{% block title %}DIZZER{% endblock %}



{% block body %}
<body>
    <div id="wrapper">
        <nav id="sidebar">
            <div class="col-md-3">{# colone side bar de menu #}

            <div class="sidebar-header">
                <h1>DIZZER</h1>
            </div>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('albums')}}">Album</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('artists')}}">Artiste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Musique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Podcast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ path('login')}}">Se connecter</a>
                </li>
            </ul>
        </nav>

        <div id="content">
        </div>
    </div>
    
</body>
{% endblock %}
