<h1>DIZZER</h1>



<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Artiste</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Musique</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Podcast</a>
  </li>
</ul>


