/* Ajouter un dégradé au fond du sidebar */
#sidebar {
    min-width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #ff5f6d, #ffc371);
    /* Remplace ces couleurs par celles de ta maquette */
    color: white;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrer les éléments verticalement */
}


title {
    color:black;
}

/* Styliser le header du sidebar */
#sidebar .sidebar-header {
    margin: 20px 0;
    text-align: center;
}

/* Styliser la liste pour enlever les points */
#sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    /* Utilise la pleine largeur du sidebar */
}

/* Styliser chaque élément de la liste */
#sidebar ul li {
    display: flex;
    justify-content: center;
    /* Centrer horizontalement */
    margin-bottom: 10px;
    /* Espacement entre les éléments */
}

/* Styliser les liens */
#sidebar ul li a {
    text-decoration: none;
    color: white;
    /* Couleur du texte */
    background: rgba(255, 255, 255, 0.1);
    /* Fond légèrement transparent */
    width: 80%;
    /* Largeur relative pour laisser de l'espace sur les côtés */
    padding: 10px;
    border-radius: 50px;
    flex-direction: column;
    /* Arrondir les bords */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transition: background-color 0.3s;
}

/* Effet au survol */
#sidebar ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}


/* albums */

.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;    
  background: linear-gradient(to bottom, #ff5f6d, #ffc371);

}

.card-link-styling {
  text-decoration: none; 
}



.albums {

  width: 20%; 
  margin-bottom: 20px; 
  margin-left: 10px;
}


.btn-custom {
  background: linear-gradient(to bottom, #ff5f6d, #ffc371);
}

.btn-custom:hover{
  background: linear-gradient(to bottom, #ffc371, #ff5f6d);
}




/* Login */
.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5f6d, #ffc371);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #ff5f6d, #ffc371);
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Couleur blanche avec une opacité de 0,9 */
    border-radius: 1rem; /* Garder votre style de bord arrondi */
}


/* Mon compte */
.container-user{
    background: linear-gradient(to bottom, #ff5f6d, #ffc371);

}






























